body {
    background-color: brown;
}

h1 {
    color: white;
    background-color: blueviolet;
    text-align: center;
}

.boxes {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
}

.box_1 {
    padding: 10px;
    border: 5px solid black;
}
.box_2 {
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid black;
}