body {background-color: blanchedalmond;}
h1 {background-color: cornflowerblue; text-align: center;}   
/*se puede poner una imagen de fondo*/
.box1 {
    width: 800px;
    height: 300px;
    text-align: center;
    background-image: url("https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/articulo_760x422/public/field/image/article/29-actualidad-1535558959_386082_1535559099_noticia_normal.jpg?itok=A49SOhD9");
}

/*se puede poner una imagen de fondo y ajustar al contenido*/
.box2 {
    width: 300px;
    height: 150px;
    text-align: center;
    background-image: url("https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/articulo_760x422/public/field/image/article/29-actualidad-1535558959_386082_1535559099_noticia_normal.jpg?itok=A49SOhD9");
    background-size: contain;
    background-repeat: no-repeat;
}

.box3 {
    width: 100%;
    height: 200px;
    margin:2px;
    background-image: url("https://rtvc-assets-radionica3.s3.amazonaws.com/s3fs-public/styles/articulo_760x422/public/field/image/article/29-actualidad-1535558959_386082_1535559099_noticia_normal.jpg?itok=A49SOhD9");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0008;
}
.parrafo{
    background-color: #0009;
}