body {background: linear-gradient(to left , lightblue, lightgreen);}
h1 {background: linear-gradient(to right, transparent, lightblue);}
.gradiente_1{
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, transparent,lightblue);
} 

.gradiente_2{
    width: 300px;
    height: 300px;
    background: radial-gradient(lightblue, lightgreen);
}