body {
    background-color: bisque;
    margin: 0%;
}

h1 {
    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 5px grey
}
.sombras_1{width: 300px;
    height: 300px;
    background-color: blueviolet;
    box-shadow: 10px 10px 5px 5px grey;
}

.sombras_2{width: 300px;
    height: 300px;
    margin-top: 20px;
    background-color: blueviolet;
    box-shadow: 0px 0px 50px 0px black;
}

.sombras_3{width: 300px;
    height: 300px;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 5px rgb(79, 49, 49));
}